.heading{
    text-align: center;
    background-color: antiquewhite;
    border-bottom: 30px;
    border-bottom-color: gray;
}
.button-chat{
    margin: auto;
}
.chat-display{
    height: 300px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    overflow: auto scroll;
}
.images-div{
    float: left;
}
.images{
    width: 100%;
}
.results-left{
    float: left;
}
.results-right{
    float: right;
}
.hide{
display: none
}
.semihide{
    opacity: 0.4;
}
.border{
    border-style: solid;
    border-width: 2px;
    border-color: black
}
.container-game-left{
    width: 75%;
    float: left;
    margin: 10px;
}
.container-chat-right{
    width: 25%;
    float: right;
    margin-right: 20px;
}
.clear{
    clear: both;
}
.gamesession{
    overflow: auto;
}